<body>
  <img
    class="bartonbarrel"
    src="../assets/images/BartonBarrels85.jpg"
    alt="BartonBarrells"
  />

  <div style="text-align:center">
    <button
      class="menuItems"
      (click)="menuChange(1)"
    >
     Home
    </button>
    <button
      class="menuItems"
      (click)="menuChange(2)"
      style="border-left: 1px solid"
    >
      Scheduler
    </button>
    <img class="logo" src="../assets/images/1792-logo.png" alt="1792-logo" />
    <button class="menuItems" (click)="menuChange(3)">Employees</button>
    <button
      class="menuItems"
      (click)="menuChange(4)"
      style="border-left: 1px solid"
    >
      Settings
    </button>

    <hr class="headerline" color="#E5D082" noshade="noshade" />
  </div>
</body>

<router-outlet></router-outlet>
