<div>
  <p-table [value]="templates" dataKey="jobName" editMode="row" id="previousSchedules">
    <ng-template pTemplate="header">
      <tr style="color:#E5D082;background: black; font-size: 20px">
        <th>Job</th>
        <th>Shift 1</th>
        <th>Shift 2</th>
        <th>Shift 3</th>
        <th style="width:8em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" style="color: #E5D082; background:darkslategrey; font-size: 18px;">
      <tr [pEditableRow]="rowData">
        <td>
          {{rowData.jobName}}
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.shift1" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.shift1}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.shift2" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.shift2}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.shift3">
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.shift3}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align:center">
          <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!--TODO: Pick table-->
<!--This table seems more ideal-->
<p-table [value]="templates">
  <ng-template pTemplate="header">
    <tr>
      <th>Job</th>
      <th>Shift 1</th>
      <th>Shift 2</th>
      <th>Shift 3</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>
        {{rowData.jobName}}
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.shift1" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.shift1}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.shift2" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.shift2}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.shift3" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.shift3}}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div *ngIf="restrictions && restrictions.length > 0">
      <div *ngFor="let employee of restrictions">
        EmployeeId: {{employee.employeeId}}
        Reason: {{employee.reason}}
        Note: {{employee.note}}
      </div>
    </div>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add Vacation/Restriction"></button>
    </div>
  </ng-template>
</p-table>

<!--TODO: get calendar window to show; struggled to set oveflow value to overwrite the modules-->
<p-dialog header="Add Vacation/Restriction" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" *ngIf="employee" style="overflow: visible;">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="employeeId">EmployeeId</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="employeeId" [(ngModel)]="employee.employeeId" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="reason">Reason</label>
      </div>
      <div class="ui-g-8">
        <!--TODO: Should this be a drop down?-->
        <input pInputText id="reason" [(ngModel)]="employee.reason" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="dateRanges">Range Dates</label>
      </div>
      <div class="ui-g-8">
        <p-calendar id="dateRanges" [(ngModel)]="employee.dateRanges" selectionMode="range" [readonlyInput]="true"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="note">Note</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="note" [(ngModel)]="employee.note" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="exit()" label="Exit"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<div>
  <button class="button" id="runScheduler" (click)="runScheduler()">
    <span>Run Scheduler </span>
  </button>
</div>

